DNA/bin/
DNA/obj/
DTO/bin/
DTO/obj/
DNAClient/bin/
DNAClient/obj/
DNAClient/obj/Debug/DNAClient_MarkupCompile.lref
DNAClient/obj/Debug/DNAClient_MarkupCompile.cache
DNAClient/obj/Debug/DNAClient.pdb
DNAClient/obj/Debug/DNAClient.exe
DNAClient/bin/Debug/DNAClient.exe
DNAClient/bin/Debug/DNAClient.pdb
DNAClient/bin/Debug/DTO.dll
DNAClient/bin/Debug/DTO.pdb
DNAClient/obj/Debug/DNAClient.csproj.FileListAbsolute.txt
DNAClient/obj/Debug/DNAClient.csproj.GenerateResource.Cache
DNAClient/obj/Debug/DNAClient.csprojResolveAssemblyReference.cache
DNAClient/obj/Debug/DNAClient.exe
DNAClient/obj/Debug/DNAClient.pdb
DNAClient/obj/Debug/DNAClient_MarkupCompile.cache
DNAClient/obj/Debug/DNAClient_MarkupCompile.lref
DNAClient/obj/Debug/DNAClient.csproj.FileListAbsolute.txt
